/* =========================== BODY =========================== */

body,
html,
button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

body,
html {
    margin: auto;
    text-align: justify;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}


/* =========================== TWO COLUMNS =========================== */


/* Big box to contain the full page */

.body-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.first-row {
    /* height: 10%; */
    background-color: rgb(147, 126, 156);
    color: white;
    padding: 0px 4px 0px 4px;
    /* margin: 0px 15px 0px 10px; */
    display: flex;
    width: 100%;
    flex-direction: row;
    position: relative;
    align-items: center;
    /* vertical-align */
}


/* Updating url */

.left-corner {
    text-align: left;
    margin-top: 4px;
    /* vertical-align (again) */
}


/* Github logo */

.right-corner {
    text-align: right;
    width: 30px;
    margin-right: 5px;
    /* if 0 image is right-cropped */
    height: 70%;
    /* Mandatory when align-items : center, otherwise image disappears */
}


/* Main title */

.title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 3px;
    /* vertical-align (again) */
    flex: 1;
}


/* Big box to contain the second row */

.column-container {
    background-color: rgb(245, 245, 245);
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    overflow: hidden;
}


/* MENU : First column in second row */

.first-column {
    width: 15%;
    flex-grow: 1;
    border: none;
    padding: 10px;
    overflow-y: auto;
    resize: horizontal;
}


/* IFRAME : Second column in second row */

.second-column {
    width: 85%;
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
}


/* =========================== ELEMENTS =========================== */


/* Github logo */

.github {
    display: block;
    background-image: url("./logo/github-mark-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}


/* Links stay black and without style */

a {
    text-decoration: none;
    color: inherit;
}


/* Button as text */

button {
    border: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
    /*
  display: inline-block;
  color: inherit;
  */
}

.first-column button:hover {
    font-weight: bold;
}

.first-row button:hover {
    color: darkblue;
}


/* List item */

ul,
li {
    list-style-type: none;
    color: rgb(147, 126, 156);
    font-weight: bold;
}

li {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

ul {
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
}